@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Noto+Sans:wght@400&display=swap");

body {
    font-family: "Noto Sans", sans-serif;
    background-color: #0048a5;
    color: white;
}

.textbox {
    border: 3px solid white;
    border-radius: 8px;
    overflow: auto;
}

.under-construction {
    margin-left: 40px;
    font-style: italic;
}

.return {
    margin-left: 40px;
}

.side-content {
    float: right;
}

.display-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.display-grid-big {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

/*.display-grid div {
    width: 100px;
}*/

header {
    font-style: italic;
    text-align: left;
    background-color: white;
    padding-inline: 20px;
    padding-top: 12px;
}

.banner {
    width: 100%;
    height: fit-content;
    margin: 0;
}

.logo {
    max-width: 100%;
    max-height: min-content;
    display: inline;
    margin: 0;
}

.logoSmall {
    max-width: 100%;
    max-height: min-content;
    display: none;
}

@media screen and (max-width: 800px) {
    .logo {
        display: none;
    }
    .logoSmall {
        display: inline;
    }
}

article {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 16px;
}

hr {
    color: white;
}

.subheading {
    font-style: italic;
    text-align: center;
    color: lightslategray;
    padding-top: 0;
}

a {
    color: white;
    transition: all 0.2s cubic-bezier(0.48, -0.85, 0, 1.9);
    border-radius: 2px;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.1em;
    text-decoration-skip-ink: none;
}

a:hover {
    text-decoration-thickness: 110%;
    text-underline-offset: -0.9em;
    text-decoration-color: white;
    color: #0e69b9;
}
