body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: #0048a5;
	color: white;
}

.under-construction {
	margin-left: 40px;
	font-style: italic;
}

.return {
	margin-left: 40px;
	font-style: italic;
}

header {
	font-style: italic;
	width: stretch;
	text-align: left;
	background-color: white;
	padding-left: 20px;
	padding-top: 12px;
}

.banner {
	width: 800px;
	height: 200px;
}

article {
	text-align: center;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.subheading {
	font-style: italic;
	text-align: center;
	color: lightslategray;
	padding-top: 0;
}

a:link {
	color: orange;
}

/* visited link */
a:visited {
	color: orangered;
}

/* selected link */
a:active {
	color: rebeccapurple;
}